foreman-installer \
--foreman-initial-admin-password="{{ foreman_password }}" \
--foreman-initial-location="{{ foreman_location }}" \
--foreman-initial-organization="{{ foreman_organization }}" \
--foreman-cli-manage-root-config=true \
--foreman-cli-password="{{ foreman_password }}" \
--foreman-cli-username="admin" \
